controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
 
    wheel_controller:
      type: velocity_controllers/JointGroupVelocityController
      
    leg_position_controller:
      type: position_controllers/JointGroupPositionController      


wheel_controller:
  ros__parameters:
    joints:
      - fr_hand_joint
      - fl_hand_joint
      - br_hand_joint
      - bl_hand_joint
    command_interfaces:
      - velocity
    state_interfaces:
      - velocity
      - position
    required_drive_mode: 9 
    
leg_position_controller:
  ros__parameters:
    joints:
      - bl_shoulder_joint
      - bl_elbow_joint
      - bl_wrist_joint
      - br_shoulder_joint
      - br_elbow_joint
      - br_wrist_joint
      - fr_shoulder_joint
      - fr_elbow_joint
      - fr_wrist_joint
      - fl_shoulder_joint
      - fl_elbow_joint
      - fl_wrist_joint  
    command_interfaces:
      - position
    state_interfaces:
      - velocity
      - position
    required_drive_mode: 8                  
